# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#ignore the data-folder containing the cloned repo (it will be stored locally on the server)
data/
